branca==0.8.1
certifi==2025.1.31
charset-normalizer==3.4.1
colorama==0.4.6
folium==0.19.5
idna==3.10
iniconfig==2.0.0
Jinja2==3.1.5
libtmux==0.46.0
MarkupSafe==3.0.2
numpy==2.2.3
packaging==24.2
pandas==2.2.3
pluggy==1.5.0
psutil==7.0.0
pytest==8.3.5
python-dateutil==2.9.0.post0
pytz==2025.1
PyYAML==6.0.2
requests==2.32.3
six==1.17.0
tmuxp==1.55.0
tzdata==2025.1
urllib3==2.3.0
xyzservices==2025.1.0
